.card:hover{
cursor: pointer;
}

.container_card{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
}

img{
    border-radius: 50%;
}