.card:hover{
cursor: pointer;
}

.container_card{
    margin-top: 20px;
    margin: 0 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 76%;
}

img{
    border-radius: 50%;
}

.beta{
    background-color: purple;
}

/* hacer responsive, consejo a container card dale menos width */