.item{
    border: 1px solid rgb(181, 95, 227);
    border-radius: 5px;
    margin: 2px;
}

.item:hover{
    border: 1px solid black;
    cursor:grab;
}

.gameMEMOTEST__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86.5%;
    width: 100%;
}
.memotest_container{
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    width: 80%;
    justify-content: space-around;
    margin: 20px auto;
    background-color: rgb(31, 31, 31);
    align-items: center;
}

.pointsMemotest__container{
    display: flex;
    background-color: rgb(3, 3, 3);
    width: 150px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.pointsmemo{
    color: yellow;
}

.buttonMEMOTEST{
    margin: 0 auto;
    
}
@media screen and (min-width: 250px ) and (max-width: 900px)  {
    .memotest_container{
        height: 50%;
        width: 100%;
    }
    .gameMEMOTEST__container{
        flex-direction: column;
        height: 90vh;
        justify-content: center;
    }
    .pointsMemotest__container{
        position: absolute;
        top: 60px;
    }
   }

@media screen and (min-height: 850px) {
    .gameMEMOTEST__container{
        flex-direction: column;
        height: 100vh;
        justify-content: center;
    }
    .memotest_container{
        height: 60%;
        width: 60%;
    }
} 