footer{
    display: flex;
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: #111;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}


.ul_footer{
    display: flex;
    width: 140px;
    justify-content: space-between;
    list-style: none;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: white;
}
