.imgNAV{
    width: 60px;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 232, 232);
    border-radius: 50%;
}

.imgNAV:hover{
    filter: invert(1);
    transition: 0.25s;
    cursor: pointer;
}


/* ---------NAV-------------- */

.container{
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    z-index: 200;
}

.navxs{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 200;
}
.navmd{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    z-index: 200;
}

